.parent-header{
background-color: white;
position: absolute;
top:0;
width: 100%;

}

.header {
    display: flex;
    justify-content: space-between;
    padding: 15px 85px;
    align-items: center;
    
  }

  .menu {
    /* padding-left: 4%; */
    display: flex;
    align-items: center;
  }
  
  .gabar {
    display: flex;
    align-items: center;
    left: 50%;
    position: fixed;
  }
 

  .close-menu {
    /* padding-left: 4%; */
    display: flex;
    align-items: center;
  }

  .modal {
    position: absolute;
    top: 54px;
    left: 5%;
    width: 310px;
    height: 157px;
    background-color: white;
    padding: 20px;
    border: 1px solid rgba(216, 216, 216, 1); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    user-select: none;
  }
  .itemCount{
    position: absolute;
    right: -5px;
    background-color: black;
    color: #fff;
    font-size: 10px;
    padding: 2px;
    border-radius: 10px;

  }